.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.circle {
border: 2px solid #000000;
width: 300px;
height: 300px;
border-radius: 50%;
margin-bottom: 10px;
}

.action {
margin: 10px;
}

button {
cursor: pointer;
}